{% extends "coworkings/base.html" %}
{% load bootstrap4 %}

{% block title %}
    <title>Reservation</title>
{% endblock title %}

{% block page_header %}
  <h5 class='display-4'>Take office and input date for example:<br> 2006-10-25 14:30:59</h5>
{% endblock page_header%}

{% block content %}
  <form class ='form' action="{% url 'coworkings:reservs'%}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name='submit' class='btn btn-primary'>Reservation</button>
    {% endbuttons %}
  </form>
{% endblock content %}

