{% extends "coworkings/base.html" %}

{% block title %}
    <title>Vacant office</title>
{% endblock title %}

{% block page_header%}
{% endblock page_header%}

{% block content%}
<h4 class='display-4'>Vacant office</h4>
<ul>
{% for office in offices%}
    {% if office not in reservednumberoffice%}
    <form class ='form' action="{% url 'coworkings:reservs'%}" method="get">
        <button class='btn btn-primary' type='submit' value='office'>{{office}}</button>
    {% endif %}
{%endfor %}
    </form>
</ul>
<br>
<hr>
<br>
<h4 class='display-4'>The offices are occupied for the time being:</h4>
<ul>
{% for reseved_office in reservednumberoffice%}
    <li>{{reseved_office.number_office}}</li>
{% endfor %}
</ul>
{% endblock content%}