{% extends "coworkings/base.html" %}

{% block content%}
<h1>Vacant office</h1>
<ul>
{% for office in offices%}
    {% if office not in reservednumberoffice%}
        {% if office%}
            <li>{{office}}</li>
        {% else %}
            <p>For the time being, all offices are occupied</p>
        {% endif %}
    {% endif %}
{%endfor %}
</ul>
<h2>The offices are occupied for the time being:</h2>
<ul>
{% for reseved_office in reservednumberoffice%}
    <li>{{reseved_office.number_office}}</li>
{% endfor %}
</ul>
{% endblock content%}